@model IEnumerable<LibraryMSMVC.Models.tblLibrarian>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Librarian list</h4>
<hr />
<div class="btn btn-sm btn-primary" data-toggle='tooltip' title='Add user'>
    <i class="far fa-plus-square"></i>
    @Html.ActionLink("Add", "Create", null, new { @class = "", style = "text-decoration:none; color: white" })
</div>
<br />
<br />

@*External stylesheet for data table plugins*@
<link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<table width="100%" class="table table-hover table-bordered" id="example">
    <thead class="bg-success text-light">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.LibrarianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
           
            <th>
                LibrarianName
            </th>
            <th>
                Email
            </th>
        </tr>
    </tbody>
</table>
<br />

@*Java scripts*@
@section scripts{
    External scripts for data table plugins
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        //Data table plugin
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "/tblLibrarians/GetAll",
                    "type": "get",
                    "datatype": "json",
                },
                "columns": [
                   
                    { "data": "LibrarianName" },
                    { "data": "Email" },
                    {
                        "data": "LibrarianID", "render": function (idhere) {

                            return " <a class='btn btn-sm btn-dark text-light' data-toggle='tooltip' title='Edit user' href='@Url.Action("Edit", "tblLibrarians")/" + idhere + "'> <i class='fas fa-edit'></i> Edit</a> <a class='btn btn-sm btn-warning text-light', style='margin-left:px' data-toggle='tooltip' title='User details' href='@Url.Action("Details", "tblLibrarians")/" + idhere+"' > <i class='fas fa-info-circle iconop'></i> Details</a > <a class='btn btn-sm btn-danger text-light', style='margin-left:px' data-toggle='tooltip' title='Delete user' href='@Url.Action("Delete", "tblLibrarians")/" + idhere+"' > <i class='fas fa-trash iconop'></i> Delete</a > ";
                        },
                        "orderable": false,
                        "width": "225px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found, Add new items"
                }
            });
        });
    </script>
}


@if (Session["operationMsg"] != null)
{
    <script type="text/javascript">
            Popups the alert if the session data is there
            window.onload = function () {
                alert("@Session["operationMsg"]");
                window.location.href = "/tblLibrarian/OperationAlert";
            };
    </script>
}
